<!DOCTYPE html>
<html>
<head>
<style>

<style type:"text/css">
body {
	background-color: #EBE2DA;
	margin 2em 6em;
	font-family: futura;
}
h1 {color: #4a7ce0; font-size: 2.5em;}
h2 {color: #7a5e4b; font-size: 1.5em}
h3 {color: #7a5e4b; font-size: 1em;}

footer {
  text-align: center;
  padding: 3px;
  background-color: #B1D8A9;
  color: white;
}

</style>

<h1><img src="logo.jpg" alt="Arctic Fox Daily logo" width="155" height="155"><br>Arctic Fox Daily</h1>

</style>
</head>


</html>